/*
  Palette:
  #17252A
  #2B7A78
  #3AAFA9
  #DEF2F1
  #FEFFFF
*/

* {
  margin: 0 auto;
  padding: 0;
}

body {
  background-color: #3AAFA9;
}

.App {
  width: 100%;
  text-align: center;
}

nav img {
  height: 128px;
  position: absolute;
  top: 0;
  left: 50px;
}

nav ul {
  width: 50%;
  margin-top: 25px;
  display: flex;
  list-style: none;
  height: 100%;
  background-color: #2B7A78;
  border-radius: 40px;
}

nav ul li {
  flex: 1;
  padding: 20px 0;
  color: #FEFFFF;
  font-size: 1.5em;
  font-weight: bold;
}

nav ul li:not(:last-child) {
  border-right: 3px solid #3AAFA9;
}

nav ul li:hover {
  background-color: #17252A;
}

nav ul li:first-child:hover {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

nav ul li:last-child:hover {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.ContentBox {
  width: 40%;
  text-align: left;
  border-left: 10px solid #FEFFFF;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);

  transition: 0.5s;
  transition-delay: 0.5s;
}

.ContentBoxContent {
  margin: 0 2%;
  font-weight: bold;
  padding: 10px 0;
}

.ContentBoxTitle {
  color: #17252A;
  font-size: 1.5em;
}

.ContentBoxText {
  color: #FEFFFF;
  font-size: 1em;
}

.FadeOut {
  transition: opacity 0.5s;
  opacity: 0;
}

.ProjectBox img {
  width: 200px;
  height: 200px;
}