/*
  Palette:
  #17252A
  #2B7A78
  #3AAFA9
  #DEF2F1
  #FEFFFF
*/

* {
  margin: 0 auto;
  padding: 0;
}

body {
  background-color: #3AAFA9;
}

.App {
  width: 100%;
  text-align: center;
}

nav {
  display: flex;
}

nav img {
  flex: 0.2;
  height: 128px;
}

nav ul {
  margin-top: 25px;
  display: flex;
  flex: 0.8;
  list-style: none;
  height: 100%;
  background-color: #2B7A78;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

nav ul li {
  flex: 1;
  padding: 20px 0;
  color: #FEFFFF;
  font-size: 1.5em;
  font-weight: bold;
}

nav ul li:not(:last-child) {
  border-right: 1px solid #FEFFFF;
}

nav ul li:hover {
  background-color: #17252A;
}

.ContentBox {
  width: 50%;
  text-align: left;
  border-left: 10px solid #FEFFFF;
}

.ContentBoxContent {
  margin: 0 2%;
  font-weight: bold;
  padding: 10px 0;
}

.ContentBoxTitle {
  color: #17252A;
  font-size: 1.5em;
}

.ContentBoxText {
  color: #FEFFFF;
  font-size: 1em;
}

#introduction {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

#about {
  margin-top: 100vh;
}